    @media (max-width: 2560px){
        .google-play,
        .apple {
            width: 7vw;
            height: 7vh;

            margin-bottom: 2rem;
        }
   
        .google-play{
            margin-left: 30rem;
        }

        .agora{
           margin-top: 10%;
           font-size: 2rem;

           margin-top: 7rem;
        }

        .agora .container{
        margin-bottom: 2rem;
        }

        .cred{
        height: 7rem;
        width: 50%;

        margin-top: -7em;
        margin-bottom: 4em;

        }

        .u2{
        height: max-content;
        margin-top: -14rem;
        }
    
        .o-rock{
            height: 12vh;
        }

       .juntos{
           font-size: 3rem;
       }

       .letra,
       .bio,
       .promo{
           height: 8vh;
           width: 25vw;
       
           font-size: 2rem;
        }

        .text{
            height: 25vh;
            margin-top: -29rem;
            font-size: 2rem;
        }

        .footer{
            height: 13vh;
        }

        .fimg{
             margin-top: 1.3rem;
             margin-left: 21rem;
             width: 9vw;
        }
     
        .range{
            margin-left: 50%;
            font-size: 3rem;
        }

        .slider{
            margin-left: 1.4rem;
        }

        .icons{
            margin-left: 85%;
            font-size: 1.7rem;
           margin-top: -2.7rem;
        }

    }

    @media(max-width: 2145px){

    .o-rock{
        height: 13vh;
    }

    }

    @media (max-width: 1970px){
       
       
        .agora{
            margin-top: 2em;
            font-size: 2rem;
        }
      
        .juntos{
            font-size: 2.5rem;
           
        }
     
         .u2{
            width: 18vw;
            height: 30vh;
        }

        .o-rock{
            height: 14vh;
            font-size: 1em;
           
        }
       
        .text{
            font-size: 1.8em;
            height: 30vh;
            margin-top: -24rem;
       }
     
        .footer{
            height: 14vh;
        }

    }

    @media (max-width: 1966px){
        
       .juntos{
           font-size: 2.9rem;
       }

        .text{
            
            height: 19vh;
            margin-top: -16em;
          }
    }

    @media (max-width: 1960px){
       
        .agora{
            margin-top: 2em;
            font-size: 2rem;
        }
     
        .juntos{
             margin-left: 2rem;
             
        }
      
       .text{
         font-size: 1.8em;
         height: 19vh;
         margin-top: -16em;
       }
   
    }


   @media (max-width: 1954px){

    .text{
        height: 19vh;
        margin-top: -14em;
    }

   }

   @media (max-width: 1950px){

    .text{
        height: 27vh;
        margin-top: -23rem;
    }

    .footer{
        height: 16vh;
    }

}

    @media (max-width: 1880px){
         .cab{
             height: 13vh;
             
         }
    
   
         .google-play{
             margin-right: -17rem;
            
        }
      
        .apple{
            margin-left: -1rem;
        }

        .footer{
            height: 15vh;
        }

        .juntos{
            text-align: auto;
            font-size: 2.6rem;
        }
  
        .fimg{
            margin-top: 3rem;
        }
   
   
    }
   
    @media (max-width: 2105px){
         .apple{
            margin-left: -20rem;
        }
    
        .google-play{
            margin-right: 1em;
        }
    }

    @media (max-width: 1718px){

        .apple{
            margin-left: -18rem;
        }
    }

    @media (max-width: 1538px){
   
       .google-play{
        margin-right: -14rem;
        margin-left: 25rem;
       }

       .apple{
        margin-left: -1rem;
       }

    }

    @media(max-width: 1474px){ 

         .sempre{
            font-size: 2.3rem;
        }

        .icons{
            margin-left: 22rem;
        }
    }

    @media(max-width: 13px){

    }
    
    
    @media(max-width: 1370px){

        .google-play{
            margin-right: -14rem;
            margin-left: 25rem;
           }
    
           .apple{
            margin-left: -0.2rem;
            margin-right:-11rem;
           }
    
        .u2{
            margin-left: -1rem;
        }

        .text{
            font-size: 1.5rem;
            height: 25vh;
            margin-top: -21.5rem;
        }

        .fimg{
            margin-left: 5rem;
            width: 12vw;
        }

        .range,
        .slider{
            font-size: 2.7rem;
        }

        .icons{
            font-size: 1.8rem;
            margin-left: 16.3rem;
        }

         .footer{
             height: 18vh;
         }

        }
     
    @media(max-width: 1370px){
        
    }